<!DOCTYPE html>
<html ng-app="faithcanon">
<head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <meta name="google-signin-client_id" content="822294509045-d48r3j0elp5kti9eo0nt2rdslk858dah.apps.googleusercontent.com">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script><!-- load angular -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-cookies.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="./js/index.js"></script> 
    <script type="text/javascript" src="./js/jquery.cookie.js"></script> 
    <script src="https://apis.google.com/js/platform.js" async defer></script>    
</head>